<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>VARIABLE.HTML</h1>
    <h2>Hello {{first_name}} {{last_name}}</h2>
    <h2>I have used an upper filter to print this name: {{first_name | upper}} {{last_name | upper}}</h2>
    <h2>And a length filter to print this name: {{first_name | length}} {{last_name | length}}</h2>
    <ol>
        <li>{{some_list.0}}</li>
        <li>{{some_list.1}}</li>
        <li>{{some_list.2}}</li>
    </ol>
    <p>This is a value from within a dictionary {{some_dict.inside_key}}</p>
</body>
</html>

